@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.image{
    margin: auto 0;
    width: 450px;
    height: 450px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}

@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}
body{
    margin: 0 !important;
    padding: 0 !important;
}
